<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Installation de l'application OPALE</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/font-awesome.min.css" rel="stylesheet" th:href="@{css/font-awesome.min.css}" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css"/>
    <link href="css/mdb.css" rel="stylesheet" th:href="@{css/mdb.min.css}" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
</head>
<body class="flex-center">
<!--Form without header-->
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="text-xs-center">
            <h3><i class="fa fa-lock"></i>Paramétrage des bases de données</h3>
            <hr class="m-t-2 m-b-2"/>
        </div>
        <form action="#" th:action="@{/sendForm}" th:object="${config}" method="post">
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" th:field="*{pathToOPALE}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('pathToOPALE')}">Chemin de la racine du projet (votre-chemin/opalews)</label>
            </div>

            <div>
                <h4><i class="fa fa-lock"></i>Base de données Administrative ENI</h4>
                <hr class="m-t-2 m-b-2"/>
            </div>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" th:field="*{urlENI}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('urlENI')}">Url de la base de données</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" th:field="*{portENI}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('portENI')}">Port</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" th:field="*{databaseENI}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('databaseENI')}">Nom de la base</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" th:field="*{usernameENI}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('usernameENI')}">Utilisateur</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" th:field="*{passwordENI}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('passwordENI')}">Mot de passe</label>
            </div>

            <div>
                <h4><i class="fa fa-lock"></i>Base de données OPALE</h4>
                <hr class="m-t-2 m-b-2"/>
            </div>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" th:field="*{urlOPALE}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('urlOPALE')}">Url de la base de données</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" th:field="*{portOPALE}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('portOPALE')}">Port</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" th:field="*{databaseOPALE}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('databaseOPALE')}">Nom de la base</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" th:field="*{usernameOPALE}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('usernameOPALE')}">Utilisateur</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" th:field="*{passwordOPALE}" class="form-control" th:required="required"/>
                <label th:for="${#ids.next('passwordOPALE')}">Mot de passe</label>
            </div>

            <div class="block">
                <h4><i class="fa fa-lock"></i>Paramétrage du LDAP</h4>
                <hr class="m-t-2 m-b-2"/>
            </div>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input th:value="${urlLDAP}" type="text" id="urlLDAP" class="form-control disabled" th:disabled="disabled"/>
                <label for="urlLDAP" class="disabled">Url du LDAP</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input th:value="${dc}" type="text" id="dc" class="form-control disabled" th:disabled="disabled"/>
                <label for="dc" class="disabled">DC</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input th:value="${dn}" type="password" id="dn" class="form-control" th:disabled="disabled"/>
                <label for="dn" class="disabled">DN</label>
            </div>

            <div class="text-xs-center">
                <button class="btn btn-dark-green btn-block">Enregistrer</button>
            </div>
        </form>
    </div>

    <!--Footer-->
    <div class="modal-footer">
        <div class="options">
            <p>OPALE</p>
            <p>GNU/GPL 3.0</p>
        </div>
    </div>

</div>
<!--/Form without header-->


<!-- JavaScript Library-->
<script src="js/jquery-2.2.3.min.js" th:src="@{js/jquery-2.2.3.min.js}"></script>
<script src="js/tether.min.js" th:src="@{js/tether.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="js/mdb.min.js" th:src="@{js/mdb.min.js}"></script>

</body>
</html>
