<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Installation de l'application OPALE</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/font-awesome.min.css" rel="stylesheet" th:href="@{css/font-awesome.min.css}" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css"/>
    <link href="css/mdb.css" rel="stylesheet" th:href="@{css/mdb.min.css}" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
</head>
<body class="flex-center">

<div th:if="${erreur} == false" class="alert alert-success" role="alert">L'enregistrement s'est bien déroulé ! <br /> Vous pouvez fermer la fenêtre et relancer le serveur.</div>
<div th:if="${erreur} == true" class="alert alert-danger" role="alert">Une erreur est survenue ! <br /> Voir le fichier de log.</div>


<!-- JavaScript Library-->
<script src="js/jquery-2.2.3.min.js" th:src="@{js/jquery-2.2.3.min.js}"></script>
<script src="js/tether.min.js" th:src="@{js/tether.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="js/mdb.min.js" th:src="@{js/mdb.min.js}"></script>

</body>
</html>
